services:
   backend:
      build: ./backend
      container_name: orchid_backend_web_app
      volumes:
      - ./backend:/app
      - ./scripts:/app/scripts
      - ./datasets:/app/datasets   
      - ./test_results:/app/test_results
      ports:
      - "5000:5000"


  # --- CONTAINER 2: IL FRONTEND (NEXT.JS) ---
   frontend:
      build: ./frontend
      container_name: orchid_frontend_web_app
      volumes:
         # Sync per sviluppo frontend (hot-reload)
         - ./frontend:/app
         - /app/node_modules
      ports:
         - "3000:3000" # Espone la porta di Streamlit
      depends_on:
         - backend # Aspetta che il backend parta
      environment:
         # Questo URL serve se Next.js fa chiamate Server-Side (SSR)
         - NEXT_PUBLIC_API_URL=http://localhost:5000
